* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: limegreen;
    color: black;
}

.nav {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbox {
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbox ul {
    padding: 10px;
    margin: 10px;
}

.navbox ul li {
    display: inline-block;
    padding: 10px 5px;
    margin: 5px;
}

.navbox ul li a {
    background-color: darkgreen;
    border-radius: 12px;
    padding: 5px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 45px rgb(278, 78, 90);
}

.navbox ul li:hover a {
    background-color: rgb(278, 78, 90);
    border-radius: 20px;
    color: white;
}

header .logo {
    margin-top: 0px;
    background-color: white;
    fill: white;
    height: 100%;
    width: 100%;
}

header .logo img {
    width: 360px;
    height: 300px;
    border-radius: 50px;
}

body h1{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 0px 4px black;
    color: maroon;
    height: auto;
    margin-bottom: 40px;
    font-size: 38px;
}

#Our-Mission h2, p{
    text-align: center;
    margin-top: 0px;
    text-shadow: 3px 0px 4px green;
    color: purple;
    padding: 0px 150px;
    font-size: 24px;
}


#Values p{
    text-align: center;
    margin-top: 20px;
    color: black;
    height: auto;
}
#Philosophy h2, p{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 0px 4px green;
    color: orangered;
    height: auto;
    padding: 0px 150px;
    margin-bottom: 50px;
}


#Values h2{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 0px 4px green;
    color: palevioletred;
    height: auto;
    font-size: 38px;
    margin-bottom: 50px;
}
#Values h3{
    font-size: 28px;
    margin-bottom: 50px;
}

#Values #Creativity, p{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 6px 4px black;
    color: blue;
    height: auto;
    font-size: 28px;
    text-shadow: 2px 0px 3px green;
}
#Values #individual-attention{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 6px 4px black;
    color: purple;
    height: auto;
    font-size: 28px;
    text-shadow: 2px 3px 3px green;
}

#Values #Community{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 6px 4px black;
    color: purple;
    height: auto;
    font-size: 28px;
    text-shadow: 2px 3px 3px green;
}

#Values #Safety{
    text-align: center;
    margin-top: 20px;
    text-shadow: 0px 0px 4px blue;
    color: red;
    height: auto;
    font-size: 28px;
    margin-bottom: 10px;
}

#reasons h2, p{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 0px 4px royalblue;
    color: black;
    height: auto;
    font-size: 28px;
    margin-bottom: 50px;

}

#last{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: yellow;
    height: auto;
    font-size: 28px;
    text-shadow: 2px 8px 3px green;
    margin-bottom: 10px;
}

.reason1 #experienced-educators{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 0px 4px green;
    color: black;
    height: auto;
    font-size: 28px;
    margin-bottom: 50px;
}
#innovative-programs{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    height: auto;
    font-size: 28px;
    color:brown;
}

#parent-involvement{
    text-align: center;
    margin-top: 50px;
    text-shadow: 3px 0px 4px green;
    color: blue;
    font-weight: bold;
    height: auto;
    font-size: 28px;
    margin-bottom: 10px;
}

#Fun-and-learning{
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 0px 4px green;
    color: purple;
    font-weight: bold;
    height: auto;
    font-size: 28px;
    margin-bottom: 10px;
}

.reason5{
    text-align: center;
    margin-top: 20px;
    color:darkmagenta;
    font-weight: bold;
    height: auto;
    font-size: 28px;
    margin-bottom: 10px;
}

#space{
    text-align: center;
    margin-top: 20px;
    color:yellow;
    font-weight: bold;
    height: auto;
    font-size: 28px;
    margin-bottom: 10px;
}
.reason1 img{
    margin-top: -50px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}

.reason3 img{
    margin-top:1%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}

.reason2 img{
    margin-top:1%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}


#last img{
    margin-top:1%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}
