
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: auto;
    }
}

body {
    overflow-x: hidden;
    background-color: gray;
}


h1 {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 3px 0px 4px black;
    color: darkblue;
    text-align: center;
    padding: 100px;
    padding-bottom: 20px;
}

.slider h1{
    color: yellow;
    margin-bottom: -30px;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 34px;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
header {
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #ffffff;
    width: 100%;
    }
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.navbox {
    list-style: none;
    width: 100%;
    display: block;
}

.navbox ul {
    padding: 10px;
    margin: 10px;
}

.navbox ul li {
    display: inline-block;
    padding: 0 10px;
    margin: 10px;
}

.navbox ul li a {
    background-color: darkgreen;
    border-radius: 12px;
    padding: 5px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 45px rgb(278, 78, 90);
}

.navbox ul li:hover a {
    background-color: rgb(278, 78, 90);
    border-radius: 20px;
    color: white;
}
    

.navbox ul li:hover a {
    background-color: rgb(278, 78, 90);
    border-radius: 20px;
    color: white;
}

.logo {
    width: 200%;
    height: 300%;
    background-color: white;
}

.logo img {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.slider{
    translate: -50px -50px;
    left: 50%;
    right: 50%;
    margin-top: 50px;
}

.newpics {
    display: flex;
    width: 100%;
    height: 100vh;
    animation: slide 120s ease-in-out infinite;
    animation-delay: 2s;
    gap: 10px;
    margin-bottom: -50px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    animation: slide2 120s ease-in-out infinite;
    animation-delay: 2s;
    gap: 10px;
}

.newpics img, .wrapper img {
    border: 2px solid yellowgreen;
    border-radius: 1%;
    padding: .5em;
    align-items: center;
    max-inline-size: 1000px, 100%;
    width: 100%;
    height: 80vh;
    margin: 20px;
}

@keyframes slide {
    0%, 10%, 20% {transform: translateX(0);}
    30% {transform: translateX(-100%);}
    40%, 50% {transform: translateX(-200%);}
    60%, 70% {transform: translateX(-300%);}
    80% {transform: translateX(-400%);}
    90%, 100%{transform: translateX(-500%);}
}

@keyframes slide2 {
    0%, 10% {transform: translateX(0);}
    20%, 30% {transform: translateX(-100%);}
    40%, 50% {transform: translateX(-200%);}
    60%, 70% {transform: translateX(-250%);}
    80%, 90% {transform: translateX(-300%);}
    100% {transform: translateX(-320%);}
}

.newpics h1 {
    font-weight: bold;
    border-radius: 20px;
    display: block;
    translate: -50% -50%;
    left: 50%;
    right: 50%;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 40px;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
}

.disclaimer{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    margin: -50px;
}

.wrapper h1,span{
    color: blue;
    border-radius: 50%;
    top: 5px;
}

.slider h1{
    margin-top: -100px;
}
