* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
    min-width: 480px;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: darkgreen;
    text-transform: uppercase;
}

.container {
    height: auto;
    padding: 5px;
    width: min(1000px, 50%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 5px solid maroon;
    border-radius: 40px;
    background: linear-gradient(red, yellow, green);
}

.wrapper {
    display: flex;
    animation: slide 60s infinite;
    gap: 1rem;
}

.container .wrapper img{
    display: block;
    max-inline-size: 100%;
}

@keyframes slide {
    0%, 10% { transform: translateX(100); }
    20%, 30% { transform: translateX(-102%); }
    40%, 50% { transform: translateX(-203%); }
    60%, 70% { transform: translateX(-305%); }
    80%, 90% { transform: translateX(-320%); }
    95%, 100% { transform: translateX(-410%); }
}

body p {
    font-size: 24px;
    font-weight: 600;
    color: darkgreen;
    margin-left: 50%;
    transform: translateX(-19%);
}

body p span {
    background-color: orange;
}
#HOME {
    transform: translateX(-60%);
    font-size: 24px;
    border-radius: 12px;
    padding: 0.2em;
    color: darkgreen;
    text-shadow: 0px 0px 2px red;
    position: relative;
    left: 50%;
    top: 50%;
}

#Events {
    text-align: center;
    margin-top: 480px;
    transform: translateX(-40%);
    font-size: 24px;
    border-radius: 12px;
    padding: 0.2em;
    color: darkgreen;
    text-shadow: 0px 0px 2px red;
    position: relative;
    left: 50%;
}

body button:hover {
    background-color: rgb(197, 71, 71);
}

p span:nth-child(1) { color: yellow; }
p span:nth-child(2) { color: blue; }
p span:nth-child(3) { color: green; }
p span:nth-child(4) { color: brown; }
p span:nth-child(5) { color: red; }
p span:nth-child(6) { color: purple; }

@media screen and (max-width: 768px) {

    .container{
        height: auto;
        width: 100%;
    }

    .wrapper img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    body p {
        font-size: 18px;
    }
    h1, p, span{
        margin-bottom: 5px;
    }

    #HOME, #Events{
        padding: 0.1em;
        margin-top: 440px;
    }

}
